<h1>Was "sagen" die Wahlprogramme?</h1>
<p>
DISCLAIMER: Das hier hat keinen Anspruch, auch nur der Hauch einer irgendwie
validen computerlinguistischen Analyse zu sein.<br>
Lediglich ein bisschen Herumgespiele mit <a href="https://nltk.org">nltk</a> & wordclouds.
</p>
<p>
<ul>
  <li>repo: <a href="https://github.com/simonwoerpel/parteien.medienrevolte.de">
      https://github.com/simonwoerpel/parteien.medienrevolte.de</a></li>
  <li>nltk rumspielen: <a href="https://github.com/simonwoerpel/afd-programmentwurf-wordcloud">
      https://github.com/simonwoerpel/afd-programmentwurf-wordcloud</a></li>
  <li>wordcloud (python): <a href="https://github.com/amueller/word_cloud">
      https://github.com/amueller/word_cloud</a></li>
</ul>
